@{
ViewData["Title"] = "Home Page";
}

<div class="text-left">
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            Search Customer
          </button>
        </h2>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="firstName">First name</label>
              <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="col-md-8 order-md-1 mt-4">
      <h4 class="mb-3">Search Results</h4>
    </div>

    <table class="table table-bordered mt-4">
    <thead>
      <tr>
        <th scope="col">Customer ID</th>
        <th scope="col">Company</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">City</th>
        <th scope="col">State</th>
        <th scope="col">PostCode</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Company 1</td>
        <td>Name 1</td>
        <td>Address 1</td>
        <td>City 1</td>
        <td>State 1</td>
        <td>PostCode 1</td>
        <td><button type="button" class="btn btn-link">Link</button></td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Company 1</td>
        <td>Name 1</td>
        <td>Address 1</td>
        <td>City 1</td>
        <td>State 1</td>
        <td>PostCode 1</td>
        <td><button type="button" class="btn btn-link">Link</button></td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Company 1</td>
        <td>Name 1</td>
        <td>Address 1</td>
        <td>City 1</td>
        <td>State 1</td>
        <td>PostCode 1</td>
        <td><button type="button" class="btn btn-link">Link</button></td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Company 1</td>
        <td>Name 1</td>
        <td>Address 1</td>
        <td>City 1</td>
        <td>State 1</td>
        <td>PostCode 1</td>
        <td><button type="button" class="btn btn-link">Link</button></td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Company 1</td>
        <td>Name 1</td>
        <td>Address 1</td>
        <td>City 1</td>
        <td>State 1</td>
        <td>PostCode 1</td>
        <td><button type="button" class="btn btn-link">Link</button></td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Company 1</td>
        <td>Name 1</td>
        <td>Address 1</td>
        <td>City 1</td>
        <td>State 1</td>
        <td>PostCode 1</td>
        <td><button type="button" class="btn btn-link">Link</button></td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Company 1</td>
        <td>Name 1</td>
        <td>Address 1</td>
        <td>City 1</td>
        <td>State 1</td>
        <td>PostCode 1</td>
        <td><button type="button" class="btn btn-link">Link</button></td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Company 1</td>
        <td>Name 1</td>
        <td>Address 1</td>
        <td>City 1</td>
        <td>State 1</td>
        <td>PostCode 1</td>
        <td><button type="button" class="btn btn-link">Link</button></td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Company 1</td>
        <td>Name 1</td>
        <td>Address 1</td>
        <td>City 1</td>
        <td>State 1</td>
        <td>PostCode 1</td>
        <td><button type="button" class="btn btn-link">Link</button></td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Company 1</td>
        <td>Name 1</td>
        <td>Address 1</td>
        <td>City 1</td>
        <td>State 1</td>
        <td>PostCode 1</td>
        <td><button type="button" class="btn btn-link">Link</button></td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Company 1</td>
        <td>Name 1</td>
        <td>Address 1</td>
        <td>City 1</td>
        <td>State 1</td>
        <td>PostCode 1</td>
        <td><button type="button" class="btn btn-link">Link</button></td>
      </tr>
    </tbody>
  </table>
</div>